.root{
   -fx-background-color: #263238;
   -fx-font-size:10pt;
}

.label{
   -fx-text-fill: white; 
   -fx-font-weight: bold;
   -fx-font-size:12pt;
}

.button {
    -fx-background-radius: 30;
    -fx-text-fill: Black;
    -fx-background-color: linear-gradient(#ff80ff,#660066);
}
.button:hover {
     
    -fx-opacity: 0.9;
    -fx-effect: dropshadow(gaussian, #0066cc, 10, 0, 3, 3);
}

.text-field{
    -fx-text-fill: red; 
    -fx-font-size:10pt;
}

.text-input:disabled {
-fx-opacity: 1.0;
}
